<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div class="tituloAnuario">
    <p class="anuario">{{anuariotxt}}</p>
  </div>
  <div class="tituloFelicidades">
    <p class="felicidades"> {{felicitacionestxt}}</p>

    <div class="btn-principal">
      <table>
        <tr>
          <th><button class="btn-70">Inicio</button></th>
          <th><button class="btn-70">Validación Titulos</button></th>
          <th><button class="btn-70">Colección Fotos</button></th>
          <th><button class="btn-71">Eventos</button></th>
        </tr>
      </table>
    </div>

  </div>

</body>
</html>

